.homeButtonContainer{
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  .homeButton{
    font-weight: 700;
    text-decoration: none;
  }
}

.mainContainer{
  width: 70%;
  margin: 0 auto;
  .movieDescriptionContainer{
    line-height: 1.5;
    .rateMovie{
      .ratingOneToFive{
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}